<launch>
	<!-- Three Pursuers -->
	<include file="$(find stdr_robot)/launch/robot_manager.launch" />
	
	<node type="stdr_server_node" 
	      pkg="stdr_server" 
	      name="stdr_server" 
              output="screen" 
              args="$(find decentralized_search)/maps/control_task_map.yaml"/>

	<node pkg="tf" 
              type="static_transform_publisher" 
              name="world2map" 
              args="0 0 0 0 0 0  world map 100" />
	
	<node pkg="tf" 
              type="static_transform_publisher" 
              name="world2target" 
              args="5 5 0 0 0 0  world target 100" />

	<include file="$(find stdr_gui)/launch/stdr_gui.launch"/>

	<!-- Instantiate all robots -->
	<include file="$(find decentralized_search)/launch/pursuer_1.launch"/>
	<include file="$(find decentralized_search)/launch/pursuer_2.launch"/>
	<include file="$(find decentralized_search)/launch/pursuer_3.launch"/>
	<include file="$(find decentralized_search)/launch/evader.launch"/>

    <!-- Instantiate the multiagent manager-->
    <!--node pkg="decentralized_search" type="pursue_wrapper.py" name="map_multi_agent_manager" output="screen"/-->

</launch>
