<launch>
    <!-- Evader Node Here -->
	<arg name="x_3" default="8" />
	<arg name="y_3" default="2" />
	<arg name="theta_3" default="0" />

	<node pkg="stdr_robot"
              type="robot_handler"
              name="raylen"
              args="add $(find decentralized_search)/robots/robot_no_sensors.yaml $(arg x_3) $(arg y_3) $(arg theta_3)" />

    <node name="raylen_control" pkg="decentralized_search" type="control.py" output="screen">
        <param name="robot_id" value="3" />
        <param name="x" value="$(eval arg('x_3'))" />
        <param name="y" value="$(eval arg('y_3'))" />
    </node>

</launch>