<launch>
    <arg name="x_0" default="1" />
	<arg name="y_0" default="2" />
	<arg name="theta_0" default="0" />

	<node pkg="stdr_robot"
              type="robot_handler"
              name="austin"
              args="add $(find decentralized_search)/robots/robot_no_sensors.yaml $(arg x_0) $(arg y_0) $(arg theta_0)" />

</launch>