<launch>
    <arg name="x_2" default="8" />
    <arg name="y_2" default="8" />
    <arg name="theta_2" default="0" />

    <node pkg="stdr_robot"
              type="robot_handler"
              name="andy"
              args="add $(find decentralized_search)/robots/robot_no_sensors.yaml $(arg x_2) $(arg y_2) $(arg theta_2)" />

</launch>