<launch>
    <arg name="x_1" default="3" />
	<arg name="y_1" default="10" />
	<arg name="theta_1" default="0" />

	<node pkg="stdr_robot"
              type="robot_handler"
              name="albert"
              args="add $(find decentralized_search)/robots/pursuer_robot.yaml $(arg x_1) $(arg y_1) $(arg theta_1)" />

    <node name="albert_control" pkg="decentralized_search" type="control.py" output="screen">
        <param name="robot_id" value="1" />
        <param name="x" value="$(eval arg('x_1'))" />
        <param name="y" value="$(eval arg('y_1'))" />
    </node>

</launch>
