<launch>
    <arg name="x_2" default="8" />
    <arg name="y_2" default="8" />
    <arg name="theta_2" default="0" />

    <node pkg="stdr_robot"
              type="robot_handler"
              name="andy"
              args="add $(find decentralized_search)/robots/pursuer_robot.yaml $(arg x_2) $(arg y_2) $(arg theta_2)" />

    <node name="andy_control" pkg="decentralized_search" type="control.py" output="screen">
        <param name="robot_id" value="2" />
        <param name="x" value="$(eval arg('x_2'))" />
        <param name="y" value="$(eval arg('y_2'))" />
    </node>
</launch>
