<launch>
    <arg name="x_0" default="10" />
	<arg name="y_0" default="8" />
	<arg name="theta_0" default="0" />

	<node pkg="stdr_robot"
              type="robot_handler"
              name="austin"
              args="add $(find decentralized_search)/robots/pursuer_robot.yaml $(arg x_0) $(arg y_0) $(arg theta_0)" />

    <node name="austin_control" pkg="decentralized_search" type="control.py" output="screen">
        <param name="robot_id" value="0" />
        <param name="x" value="$(eval arg('x_0'))" />
        <param name="y" value="$(eval arg('y_0'))" />
    </node>

</launch>
